body {
    background-color: #ee8f6d;
    font-family: 'genos', sans-serif;
    margin: 0;
    padding: 0;
}
button:active{
    background-color: #e7744c;
}

h1 {
    color: white;
    font-size: 50px;
    text-align: center;
}

p{
    font-size: 20px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#inicio {
    margin-top: 20px;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0 10px;
    display: inline;
}

img#principal {
    width: 100px;
    height: 100px;
    background-color: #dd5034;
    border-radius: 50%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
}

section p {
    margin-bottom: 10px;
}

/* Estilos específicos para el icono del logo */

img#principal {
    background-image: url("imagenes/logo.jpg");
    background-size: cover;
    background-position: center;
}

/* Estilos específicos para la sección de inicio */

section#inicio {
    text-align: center;
}

section#inicio img {
    width: 200px;
    height: 200px;
}

/* Estilos específicos para los enlaces de navegación */

a:link,
a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}
div.especial h4{
    font-weight: lighter;
    color: #dd5034;
    margin-bottom: 10px;
    font-size: 20px;
}
form#queCalculamosHoy {
    text-align: center;
    margin-top: 20px;
}

form#queCalculamosHoy label {
    display: block;
    margin-bottom: 5px;
}

form#queCalculamosHoy input[type="number"],
form#queCalculamosHoy select {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
}

form#queCalculamosHoy button {
    padding: 10px 20px;
    background-color: #dd5034;
    color: white;
    border: none;
    cursor: pointer;
}

form#queCalculamosHoy p:last-child {
    margin-top: 20px;
}

form#queCalculamosHoy label[for="resul"] {
    margin-right: 10px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dd5034;
    padding: 10px;
}

.menu{
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
}

.menu a:hover {
    background-color: white;
    color: #dd5034;
}





