
h1 {
    color: #dd5034;
    font-size: 90px;
    text-align: center;
}
body{
    background-color: #ee8f6d;
    font-family: 'genos', sans-serif;
}
section {
    font-size: 20px;
    margin: 20px;
}
div.especial h4{
    font-weight: lighter;
    color: #dd5034;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:active {
    font-weight: bold;
}

#principal {
    width: 80px;
    float: left;
    border-radius: 50%;
    margin: 20px;
}
